@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/react-toastify/dist/ReactToastify.css';

@import 'node_modules/swiper/swiper-bundle.css';

* {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

body {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.25rem;

    &-track {
      background: transparent;
    }

    &-thumb {
      background: #f97316;
    }
  }
}

html.light {
  & body {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 0.25rem;

      &-track {
        background: transparent;
      }

      &-thumb {
        background: #3b82f6;
      }
    }
  }
}

a[href='mailto:paul.opmann@gmail.com'] {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

html.light {
  --swiper-navigation-color: white;

  & .swiper-button-prev,
  & .swiper-button-next {
    background: #1e40af;
  }
}

html.dark {
  --swiper-navigation-color: white;

  & .swiper-button-prev,
  & .swiper-button-next {
    background: #f97316;
  }
}
