@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
  --font-rubik-bubbles: 'Rubik Bubbles', cursive;
}

div[data-nextjs-scroll-focus-boundary] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a[href='mailto:paul.opmann@gmail.com'] {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
